/* ======================== Home Page  ======================== */

#home__hero {
  display: block;
  width: 100%;
  height: 75vh;

  position: fixed;
  top: 20vh;
  z-index: 10;

  background: url("../images/logo.jpg") center / contain no-repeat;
}


#home__info-container {
  display: block;
  width: 100%;
  min-height: 80vh;

  position: relative;
  z-index: 20;

  background: var(--BG-TRANSPARENT--DARK);
  margin-top: 90vh;
  padding: var(--SPACING-MEDIUM) var(--SPACING-SMALL) 10vh;

}

p#home__intro {
  background: linear-gradient(lightblue, powderblue, skyblue);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;

  font-size: var(--FS-LARGE);
  max-width: 700px;
  margin: auto;
}

p#home__intro--mission {
  background: linear-gradient(to right, lightblue, gold, skyblue);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;

  font-style: italic;
  font-weight: bold;
  font-size: var(--FS-LARGER);
  font-family: sans-serif;

  margin-top: var(--SPACING-SMALL);
}

#main__home h1 {
  margin: var(--SPACING-MEDIUM) 0 var(--SPACING-SMALL);
  color: white;
  font-size: var(--FS-LARGEST);
}

#home__info-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--SPACING-LARGE);

  position: relative;
  margin-top: var(--SPACING-LARGER);
}

.home__info-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 500px;
  height: clamp(500px, 70vh, 550px);

  padding-bottom: var(--SPACING-MEDIUM);
  border-radius: 1em;

  background: linear-gradient(dodgerblue, silver, skyblue);
  box-shadow: .25em .25em .125em #4c0b8a;
}

.home__info-cards img {
  width: 100%;
  height: auto;

  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.home__info-cards p {
  color: purple;
  padding: var(--SPACING-SMALL);
}

.home__info-cards a {
  cursor: pointer;
  border-radius: .5em;
  padding: var(--SPACING-SMALLER) var(--SPACING-MEDIUM);

  border: .125em solid #000;
  background-color: plum;
  color: blue;
}

.home__info-cards a:is(:hover, :focus) {
  background-color: aquamarine;
  color: purple;

  transition: 0.5s;
}

.home__info-cards a:active {
  background-color: white;
  color: plum;
}


/* ========== RESPONSIVE DESIGN ========== */

@media only screen and (min-width: 992px) {

  #home__info-cards-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .home__info-cards {
    width: 25%;
  }
}
